@media (max-width: 1140px)
    .container
        max-width: 960px
    .header
        &__wrapper
            grid-template-columns: 100px 572px 148px 138px
        &__btn
            width: 134px
        &__info
            padding-right: 10px
            a
                font-size: 15px
        &__text
            width: 222px
            font-size: 15px
    .benefis
        &__wrapper
            grid-template: repeat(4, minmax(65px, auto))/repeat(2, 422px)
        &__item
            grid-template-columns: 65px 327px
    .works
        &__subtitle
            font-size: 19px
        &__item
            width: 300px
        &__img
            width: 300px
    .preis
        &__wrapper
            justify-content: space-around
        &__block
            margin-bottom: 20px
    .feed-form
        &_question
            margin-top: 0







@media (max-width: 992px)
    .container
        max-width: 720px
    .title
        &_big
            margin-top: 5px
            font-size: 41px
            line-height: 30px
        &_subtitle
            font-size: 25px
        &_benefis
            font-size: 15px
    .header
        &__wrapper
            display: flex
            flex-wrap: wrap
            justify-content: unset
        &__info
            font-size: 12px
            padding: 0
            a
                font-size: 11px
        &__list
            padding-left: 7px
        &__link
            border-right: 0
        &__btn
            margin: 0 auto
            width: 160px
        &__logistic
            font-size: 20px
        &__point
            &::after
                content: ''
                width: 289px
            &::before
                content: ''
                width: 289px
        &__items
            column-gap: 15px
        &__text
            width: 169px
            font-size: 14px
            margin-top: 5px
    .benefis
        &__wrapper    
            grid-template: repeat(4,minmax(65px,auto))/repeat(2,359px)
            justify-content: space-between
        &__item
            grid-template-columns: 56px 279px
            column-gap: 8px
        &__text
            font-size: 13px
            margin-top: 4px
    .works
        &__subtitle
            font-size: 17px
            width: 600px
        &__wrapper
            flex-wrap: wrap
            justify-content: space-around
        &__item
            margin-bottom: 20px
        &__item
            width: 340px
        &__img
            width: 340px
    .manager
        &__subtitle
            width: 90%
    .scheme
        &__block
            width: 200px
    .feed
        &-form
            &_question
                input
                    width: 237px
                textarea
                    width: 700px
    .footer
        &__header
            grid-template-columns: 378px 340px
            &-left
                grid-template-columns: 81px 295px
                column-gap: 3px
            &-right
                grid-template-columns: 154px 160px
                column-gap: 13px





@media (max-width: 768px)
    .container
        max-width: 540px
    .hamburger
        display: block
        position: absolute
        top: 20px
        right: 30px
        width: 30px
        height: 12px
        cursor: pointer
        z-index: 5
        span
            display: block
            width: 30px
            height: 3px
            background: #151812
            margin-bottom: 3px
            transition: 0.5s all
        &_active
            span
                margin-bottom: 20px
                &:nth-child(1)  
                    transform: rotate(-45deg)
                    margin-bottom: -2px
                &:nth-child(2)
                    display: none 
                &:nth-child(3)  
                    transform: rotate(45deg)
    .title
        &_fontsize
            font-size: 22px
        &_works
            &-small
                margin-top: 10px
        &_consultation
            font-size: 23px
        &_big
            margin-top: 10px
            font-size: 34px
            line-height: 21px
        &_subtitle
            font-size: 20px
    .header
        &__btn
            margin-top: 27px
        &__info
            margin-left: 62px
        &__logo
            margin-left: 31px
        &__items
            flex-wrap: wrap
        &__item
            margin-bottom: 20px
        &__logistic
            font-size: 18px
        &__point
            &::after
                content: ''
                width: 237px
            &::before
                content: ''
                width: 237px
        &__list
            left: -100%
            position: fixed
            flex-direction: column
            justify-content: center
            background-color: rgba(37, 51, 60, 0.9)
            top: 0
            width: 50%
            height: 100vh
            padding: 0
            z-index: 5
            transition: 1s all
            &_active
                left: 0
        &__link
            display: block
            margin-top: 20px
            font-size: 18px
    .benefis
        &__wrapper
            grid-template: repeat(8,minmax(65px,auto))/ 500px
            justify-content: center
        &__item
            grid-template-columns: 56px 427px
            column-gap: 16px
    .works
        padding: 25px 0
        &__subtitle
            font-size: 15px
            width: 400px
            margin-top: 7px
        &__text
            margin-top: 5px
    .preis
        padding: 25px 0
        &__subtitle
            width: 400px
            font-size: 19px
            margin-top: 7px
    .scheme
        padding: 25px 0
    .question
        padding: 25px 0
    .feed
        &-form
            &_question
                margin-top: 0
            &_flex
                display: flex
                flex-direction: column
                row-gap: 10px
                input
                    width: 300px
                textarea
                    width: 300px
    .maps
        &__block
            left: 0%
            padding: 10px
            width: 245px
            min-height: 130px
    .footer
        &__header
            grid-template-columns: 520px
            justify-content: center
            &-left
                grid-template-columns: 68px 410px
                column-gap: 23px
            &-right
                grid-template-columns: 161px 180px
                column-gap: 19px
                justify-content: center
    




@media (max-width: 576px)
    .container
        max-width: 100%
        padding: 0 10px
    .title
        &_fontsize
            font-size: 19px
        &_benefis
            text-align: center
        &_works
            &-small
                font-size: 16px
        &_scheme
            &-small
                font-size: 14px
                margin-top: 7px
        &_big
            font-size: 26px
            line-height: 27px
            margin-top: 4px
        &_subtitle
            margin-top: 7px
            font-size: 15px
    .header
        &__info
            margin-left: 14px
        &__logistic
            font-size: 14px
        &__point
            &::after
                content: ''
                width: 137px
            &::before
                content: ''
                width: 137px
        &__icons
            &_mr
                margin-right: 60px
    .benefis
        &__wrapper
            grid-template: repeat(8,minmax(65px,auto))/ 300px
            margin-top: 20px
        &__item
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 15px
            width: 300px
        &__img
            margin-bottom: 7px
    .works
        &__subtitle
            width: 300px
        &__item
            width: 300px
        &__img
            width: 300px
        &__text
            font-size: 12px
    .preis
        &__subtitle
            width: 300px
            font-size: 15px
    .feed-form
        flex-direction: column
        min-height: 255px
        row-gap: 5px
        margin: 0 auto
        margin-top: 70px
        width: 300px
        &_question
            margin-top: 0
            input
                width: 290px
            textarea
              width: 290px
    .scheme
        &__wrapper
            margin-top: 25px
        &__block
            width: 250px
        &__text
            margin-top: 5px
    .maps
        &__block
            left: 7%
            top: 58%
    .footer
        &__header
            grid-template-columns: 300px
            &-left
                display: flex
                flex-direction: column
                align-items: center

            &-right
                display: flex
                flex-direction: column
                align-items: center
        &__down
            display: flex
            flex-direction: column
            align-items: center
        &__text
            padding-top: 10px
        &__info
            margin-top: 10px
            text-align: left
        &__create
            &-logo
                display: none
        &__year
            margin: 0 auto
    .modal
        &__content
            width: 100%
            padding: 20px

    
                

           

        
    

